.toolbar {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-primary);
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.toolbar h1 {
  color: var(--mat-sys-primary-fixed-dim)!important;
  font-weight: 400!important;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif!important;
}

.toolbar-spacer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.button {
  color: var(--mat-sys-primary-fixed-dim);
}

::ng-deep .mat-toolbar-single-row {
  padding: 0 8px!important;
}

.theme-button{
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
  border-radius: 5px;
  padding: 5px;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif!important;
}

::ng-deep.mdc-label {
  color: var(--mat-sys-primary-fixed-dim)!important;
}

.sidenav-container {
    width: auto;
    height: 93vh;
    margin: 0px;
    border: 0px;
    
  }

  .mat-sidenav {
    width: 250px;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif!important;
  }
  
  .sidenav-collapsed {
    width: 60px; /* or any other width you prefer for the collapsed state */
    transition: margin-left 0.3s ease;
  }

  .sidenav-expanded {
    width: 250px; /* or any other width you prefer for the expanded state */
    transition: margin-left 0.3s ease;
  }

  .custom-sidenav {
    border-radius: 0;
    box-shadow: 0 1px 22px #0000001a;
  }
  
  .selected-text {
    color: var(--mat-sys-primary);
    border-left: 5px;
    border-color: var(--mat-sys-primary); 
  }

  .sidenav-text{
    color: var(--mat-sys-on-surface)!important;
  }

  ::ng-deep.mdc-list-item__primary-text{
    display: flex!important;
    align-items: center!important;
    justify-content: start!important;
  }

  ::ng-deep.mdc-list-item__primary-text:hover{
   
    color: var(--mat-sys-primary)!important;
  }

  ::ng-deep.mat-mdc-nav-list:hover ::ng-deep.mat-mdc-list-item:hover {
    --mat-list-active-indicator-color: var(--mat-sys-primary);
    --mat-lst-hover-indicator-color: var(--mat-sys-primary)!important;
    border-radius: var(--mat-list-active-indicator-shape, 0); 
    

  }

  ::ng-deep.mdc-list {
    padding: 0!important;
  }

  mat-icon {
    padding-right: 10px;
    font-size: 25px;
  }

  .content-margin {
    margin-left: 250px!important;
    transition:  0.3s ease-in-out;
  }

  .content-no-margin {
    margin-left: 60px!important;
    transition:  0.3s ease-in-out; 
  }

  
  
  ::ng-deep a[mat-list-item]:hover mat-icon,
  ::ng-deep a[mat-list-item]:hover span {
    color: var(--mat-sys-primary) !important; 
  }
  
  
