<mat-toolbar>
    <button mat-icon-button (click)="toggleSidebar(); sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    Timetracking App
  </mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item (click)="selectComponent('dashboard')">
              <mat-icon>dashboard</mat-icon>
              <span *ngIf="isExpanded">Dashboard</span>
            </a>
            <a mat-list-item (click)="selectComponent('table')">
              <mat-icon>settings</mat-icon>
              <span *ngIf="isExpanded">Tracking Situation</span>
            </a>
            <a mat-list-item (click)="selectComponent('profile')">
              <mat-icon>person</mat-icon>
              <span *ngIf="isExpanded">Profile</span>
            </a>
          </mat-nav-list>
      </mat-sidenav>
    
      <mat-sidenav-content>
    
        <div *ngIf="selectedComponent === 'dashboard'">
          <app-timer></app-timer>
        </div>
        
        <div *ngIf="selectedComponent === 'table'">
          <app-time-table></app-time-table>
          
        </div>
        
        <div *ngIf="selectedComponent === 'profile'">
          <h2>Profile</h2>
          <p>Manage your profile information.</p>
        </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
  