<mat-toolbar style="background-color: #005cbb; color: #FFF;">
  <button mat-icon-button (click)="toggleSidebar(); sidenav.toggle()">
    <mat-icon style="color: #FFF;">menu</mat-icon>
  </button>
  Timetracking App
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" style="border-radius: 0;">
  <mat-sidenav #sidenav mode="side" opened class="custom-sidenav">
    <mat-nav-list>
      <a mat-list-item 
         (click)="selectComponent('dashboard')">
        <mat-icon [ngClass]="{'selected-text': selectedComponent === 'dashboard' , 'sidenav-text': selectedComponent !== 'dashboard'}">dashboard</mat-icon>
        <span *ngIf="isExpanded" [ngClass]="{'selected-text': selectedComponent === 'dashboard', 'sidenav-text': selectedComponent !== 'dashboard'}">Dashboard</span>

      </a>
      <a mat-list-item 
         (click)="selectComponent('table')">
        <mat-icon [ngClass]="{'selected-text': selectedComponent === 'table' , 'sidenav-text': selectedComponent !== 'table'}">settings</mat-icon>
        <span *ngIf="isExpanded" [ngClass]="{'selected-text': selectedComponent === 'table' , 'sidenav-text': selectedComponent !== 'table'}">Tracking Situation</span>
      </a>
      <a mat-list-item 
         (click)="selectComponent('vacation-plan')">
        <mat-icon class="sidenav-text"[ngClass]="{'selected-text': selectedComponent === 'vacation-plan' , 'sidenav-text': selectedComponent !== 'vacation-plan'}">person</mat-icon>
        <span *ngIf="isExpanded" [ngClass]="{'selected-text': selectedComponent === 'vacation-plan' , 'sidenav-text': selectedComponent !== 'vacation-plan'}">Vacation Planification</span>
      </a>
      <a mat-list-item 
         (click)="selectComponent('vacation-status')">
        <mat-icon class="sidenav-text"[ngClass]="{'selected-text': selectedComponent === 'vacation-status' , 'sidenav-text': selectedComponent !== 'vacation-status'}">person</mat-icon>
        <span *ngIf="isExpanded" [ngClass]="{'selected-text': selectedComponent === 'vacation-status' , 'sidenav-text': selectedComponent !== 'vacation-status'}">Vacation Staus</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="selectedComponent === 'dashboard'">
      <app-timer></app-timer>
    </div>
    <div *ngIf="selectedComponent === 'table'">
      <app-time-table></app-time-table>
    </div>
    <div *ngIf="selectedComponent === 'vacation-plan'">
      <app-vacation-planning></app-vacation-planning>
    </div>
    <div *ngIf="selectedComponent === 'vacation-status'">
      <app-vacation-status></app-vacation-status>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>