<div class="container">
    <h1>My Permission Leave Requests</h1>
    <div class="info-container">
      <p>Minimum duration for a leave request is 15 minutes and maximum is 120 minutes!</p>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="openModal()"
    >
      + Create Request
    </button>
  
  <div class="shadow-container">
      <app-mat-table
      [entries]="entries"
      [localStorageKey]="'permissionEntries'"
      [displayedColumns]="displayedColumns"
      (entryDeleted)="onEntryDeleted($event)"
      (entryApproved)="onEntryApproved($event)"
      (entryCancelled)="onEntryCancelled($event)"
      ></app-mat-table>
    </div>
  </div>