<div class="container">
    <h1>Permission Leave</h1>
    <div class="info-container">
      <p>Minimum duration is 15 minutes and maximum is 120 minutes!</p>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="openModal()"
    >
      + Create Request
    </button>
  
    <div class="shadow-container">
      <app-mat-table
      [entries]="entries"
      [localStorageKey]="'permissionEntries'"
      [displayedColumns]="displayedColumns"
      ></app-mat-table>
    </div>
  </div>