<div class="timer-container">
  <h1>User Activity</h1>
  <div class="info-container">
    <p *ngIf="vacationDaysLeft != 0">Remaining annual leave days: {{ vacationDaysLeft }}. Please create requests for them!</p>
  </div>
  <div class="panel-container">
    <div class="left-panel">
      <div class="progress-container">
        <div class="progress-label">
          {{ workPercentage | number : "1.0-0" }}%
        </div>
        <mat-progress-bar
          mode="determinate"
          [value]="workPercentage"
        ></mat-progress-bar>
      </div>
      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          (click)="startTimer()"
          [disabled]="isRunning  || isVacation"
        >
          Clock in
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="stopTimer()"
          [disabled]="!isRunning"
        >
          Clock out
        </button>
        <button mat-raised-button color="accent" (click)="resetTimer()">
          Reset
        </button>
      </div>
    </div>
    <div class="right-panel">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 timetable"
      >
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef>Icon</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              *ngIf="element.label === 'First Clock In'"
              style="color: green"
              >access_time</mat-icon
            >
            <mat-icon *ngIf="element.label === 'Clock Out'" style="color: red"
              >exit_to_app</mat-icon
            >
            <mat-icon
              *ngIf="element.label === 'All for Today'"
              style="color: #005cbb"
              >timer</mat-icon
            >
            <mat-icon
              *ngIf="element.label === 'Time Left'"
              style="color: #005cbb"
              >hourglass_empty</mat-icon
            >
            <mat-icon
              *ngIf="element.label === 'Current Date'"
              style="color: #005cbb"
              >calendar_today</mat-icon
            >
          </td>
        </ng-container>
        <!-- Label Column -->
        <ng-container matColumnDef="label">
          <td mat-cell *matCellDef="let element">{{ element.label }}</td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
