<div class="timer-container">
  <div class="left-panel">
    <div class="progress-container">
      <mat-progress-bar
        mode="determinate"
        [value]="workPercentage"
      ></mat-progress-bar>
      <div class="progress-label">{{ workPercentage | number : "1.0-2" }}%</div>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="startTimer()">
        Clock in
      </button>
      <button mat-raised-button color="warn" (click)="stopTimer()">
        Clock out
      </button>
      <button mat-raised-button color="accent" (click)="resetTimer()">
        Reset
      </button>
    </div>
  </div>
  <div class="right-panel">
    <h3>Current Date: {{ currentDate }}</h3>
    <h3>
      First Clock In:
      {{ firstClockIn ? (firstClockIn | date : "HH:mm:ss") : "---" }}
    </h3>
    <h3>
      Clock Out: {{ clockOutTime ? (clockOutTime | date : "HH:mm:ss") : "---" }}
    </h3>
    <h3>All for Today: {{ formattedTime }}</h3>
    <h3>Time Left: {{ timeLeft }}</h3>
  </div>
</div>
