<div class="container">
  <h1>Vacation Planning</h1>
  <div class="info-container">
    <p style="font-weight: bold;">Leave days for current fiscal year</p>
    <p>Annual Leave days due: 21</p>
    <p>Remaining annual leave days: {{ vacationDaysLeft }}</p>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="openModal()"
    [disabled]="vacationDaysLeft === 0"
  >
    + Create Request
  </button>

  <div class="shadow-container">
    <app-mat-table
      [entries]="entries"
      [displayedColumns]="displayedColumns"
      [localStorageKey]="'vacationEntries'"
      (entryDeleted)="updateVacationDaysLeft()"
    ></app-mat-table>
  </div>
</div>
