.container {
  padding: 20px;
}

.shadow-container {
  box-shadow: 0 1px 22px #0000001a;
  border-radius: 5px;
  padding: 10px;
  width: auto;
}

.info-container{
  border-radius: 5px;
  padding: 10px;
  background-color: #cfe4fd;
  margin-bottom: 20px;
}

.info-container p {
  margin: 5px;
}


