
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body,
button,
input,
textarea,
select,
mat-card,
mat-toolbar,
mat-sidenav,
mat-table,
mat-button {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif!important;
}

::ng-deep .mat-card, ::ng-deep .mat-toolbar, ::ng-deep .mat-mdc-table {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
}

h1 {
  color: var(--mat-sys-on-surface);
  font-weight: 400;
}

h2 {
  color: var(--mat-sys-primary)!important;
  font-weight: 400!important;
}
